@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'spotifytitle';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(./assets/fonts/SpotifyMixUITitle.woff2) format('woff2');
    }
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
  }