@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'spotifytitle';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(./assets/fonts/SpotifyMixUITitle.woff2) format('woff2');
    }
  }