@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'spotifytitle';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(./assets/fonts/SpotifyMixUITitle.woff2) format('woff2');
    }

    .fullscreen-transition {
      @apply transition-all ease-in-out delay-150 duration-1000;
    }
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
  }

  /* css for the music card */
  .musiccard-play{
    transition: opacity 0.2s ease-in;
  }

  .music-card:hover > .musiccard-play {
    opacity: 1;
    animation: music-card-play-btn 0.5s ease;
  }

  @keyframes music-card-play-btn {
    from {bottom: 0;}
    to {bottom: 16px;}
  }

  /* end of music card css */


  /* to give text elipses in multiple line in musiccard and footer */
  .music-name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}


  /* custom scroll bar code */
  ::-webkit-scrollbar {
    width: 10px;
    display: none;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: inherit; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(119, 118, 118); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  body{
    background-color: black;
  }